obj_sim/
obj_arr/
sim_mailbox
sim_array
m1/obj_m1/
m1/sim_m1
m1/*.elf
m1/*.bin
m1/*.hex
m2/obj_m2/
m2/sim_m2
m2/*.elf
m2/*.bin
m2/*.hex
m2/tb_dbg.sv
m2/obj_dbg/
m2/sim_dbg
m3/obj_*/
m3/sim_*
m3/*.elf
m3/*.bin
m3/*.hex
