obj_sim/
obj_arr/
sim_mailbox
sim_array
m1/obj_m1/
m1/sim_m1
m1/*.elf
m1/*.bin
m1/*.hex
m2/obj_m2/
m2/sim_m2
m2/*.elf
m2/*.bin
m2/*.hex
m2/tb_dbg.sv
m2/obj_dbg/
m2/sim_dbg
m3/obj_*/
m3/sim_*
m3/*.elf
m3/*.bin
m3/*.hex
m3c/obj_*/
m3c/sim_*
m3c/*.elf
m3c/*.bin
m3c/*.hex
m3c/golden_drv
m3c/golden.txt
m3c/array.txt
m3c/sim_out.txt
m3c/m3c0_map.h
m3c/*_sm.c
m3c/*_sm_nvc.c
m3c/m3c1_map.h
m3c/golden_drv1
m3c/golden*.txt
m3c/array*.txt
m3c/sim_out*.txt
m3c/m3c_map.h
m3c/m3c2.map
m3c/place*.txt
m3c/__pycache__/
m3c/golden_raccel
mesh/obj_*/
mesh/sim_*
mesh/*.elf
mesh/*.bin
mesh/*.hex
pipe/obj_*/
pipe/sim_*
pipe/*.elf
pipe/*.bin
pipe/*.hex
pipe/*_sm.c
pipe/*_sm_nvc.c
